* {
    margin: 0;
    background-color: 0;
}

h1 {
    padding: 10px 0px;
    text-align: center;
    width: 99vw;
    max-width: 99vw;
    font-size: clamp(1rem, 4vw, 3.5rem);
}

a {
    color: black;
    cursor: pointer;
}

table {
    margin-left: 15px;
}

div.upload {
    padding: 15px;
}

nav {
    padding: 15px;
}

h2 {
    padding-left: 15px;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
}

.preview-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 20vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview-card img {
  min-width: 200px;
  min-height: 200px;
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-width: 200px;
  object-fit: contain;
}

.preview-card embed,
.preview-card iframe {
  width: 100%;
  height: 250px;
}

form select {
    margin: 5px;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgb(117, 196, 117);
}

form input {
    margin: 5px;
    padding: 5px;
}

form button {
    margin: 5px;
    padding: 5px 15px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgb(117, 196, 117);
    cursor: pointer;
}